p {
  font-family: Lato;
}

h1 {
  text-align: center;
}

.parent {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 780px) {
  .parent {
    flex-wrap: wrap;
  }
}
